<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="hostMap" type="NConfig.HostMapSection, NConfig"/>
  </configSections>

  <hostMap>
    <!-- DEVELOPERS -->
    <add host="wdat250135" alias="HWO"/>

    <!-- DEVELOPMENT -->

    <!-- INTEGRATION -->
    <add host="TODO" alias="Integration.MA14"/>

    <!-- PRODUCTION -->
    <add host="TODO" alias="Production.MA14"/>
  </hostMap>

</configuration>