<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <appSettings>
    <!--
      destination directory where incoming received problem reports should be saved to;
      note that the directory should exist and the user under which the current web app runs (usually the app pool user) needs to have write privileges
      as otherwise file creation fails
    -->
    <add key="ProblemUploadDestinationDirectory" value="TODO"/>
  </appSettings>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        autoReload="true" 
        throwExceptions="false"
        internalLogFile="nlog.log" 
        internalLogLevel="Debug">
    <targets async="true">
      <target name="consoleTarget" xsi:type="ColoredConsole" layout="${date:format=HH\:mm\:ss} | ${logger} | ${level} | ${message} | ${exception:format=ToString}" />
      <target xsi:type="File" name="fileTarget" fileName="${basedir}/Logs/log.log" archiveFileName="${basedir}/Logs/log.{##}.log" layout="${date:format=yyyy-MM-dd HH\:mm\:ss\:fff} | ${logger} | ${level} | ${message} | ${exception:format=ToString}" archiveAboveSize="1048576" archiveNumbering="Sequence" keepFileOpen="true" />
      <target xsi:type="Chainsaw" name="log2consoleviewer" address="udp://127.0.0.1:7071" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="log2consoleviewer" />
      <logger name="*" minlevel="Debug" writeTo="consoleTarget" />
      <logger name="*" minlevel="Trace" writeTo="fileTarget" />
      <logger name="*" minlevel="Error" writeTo="fileTarget" />
    </rules>
  </nlog>

</configuration>