@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UploadCiscoProblemRPT</title>
    
    
    <form name="uploadPrt" action="@Url.Action("UploadCiscoProblemRPT")" method="post" enctype="multipart/form-data">
        <input type="file" name="zipFileName" id="zipFileName" />

        <input type="submit" name="submitBtn" id="submitBtn" value="Upload File" />
    </form>
</head>
<body>
<div> 
</div>
</body>
</html>
